# .NET
bin/
obj/
*.user
*.suo
*.exe
*.dll
*.pdb
*.mdb
.vs/

# Ignore appsettings.json in MessengerBackend
backend/MessengerBackend/MessengerBackend/appsettings.json

# Ignore OracleWallet directory in MessengerBackend
backend/MessengerBackend/MessengerBackend/OracleWallet/

# Angular
node_modules/
dist/
build/
coverage/

# Logs
*.log

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Environment variables file
.env
